html{
    scroll-behavior: smooth;
}
   #canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;        /* Canvas berada di belakang */
    pointer-events: none; /* Tidak ganggu klik tombol */
}